.git
.github
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov
**/build
**/dist
**/*.egg-info
**/node_modules
.DS_Store
.idea
.vscode
coverage.xml
node_modules
